africastalking==1.2.7
amqp==5.3.1
asgiref==3.11.1
attrs==26.1.0
billiard==4.2.4
celery==5.3.6
certifi==2026.2.25
charset-normalizer==3.4.6
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
cron_descriptor==2.0.8
Django==4.2.9
django-celery-beat==2.5.0
django-cors-headers==4.3.1
django-environ==0.13.0
django-filter==23.5
django-phonenumber-field==7.3.0
django-timezone-field==7.2.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
drf-spectacular==0.27.1
gunicorn==25.3.0
idna==3.11
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kombu==5.6.2
mysqlclient==2.2.1
packaging==26.0
phonenumbers==8.13.27
pillow==12.1.1
prompt_toolkit==3.0.52
psycopg2-binary==2.9.10
PyJWT==2.12.1
PyMySQL==1.1.2
cryptography==46.0.6
python-crontab==3.3.0
python-dateutil==2.9.0.post0
pytz==2026.1.post1
PyYAML==6.0.3
redis==5.0.1
referencing==0.37.0
requests==2.31.0
rpds-py==0.30.0
schema==0.7.8
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2025.3
uritemplate==4.2.0
urllib3==2.6.3
vine==5.1.0
wcwidth==0.6.0
whitenoise==6.12.0
